body {
    --size: 5vmin;
}

@media only screen and (min-width: 600px) {
    body {
        --size: 3.5vmin;
    }
}

p {
    display: flex;
    margin: 0;
}

span {
    height: var(--size);
    width: var(--size);
    display: inline-flex;
    position: relative;
    background: #E2E2E2;
    transition: background .2s;
}

span:before, span:after {
    content: '';
    position: absolute;
}

span:before {
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    box-shadow: inset 0 -2px 6px rgba(0,0,0,0.4);
    border-radius: 50%;
}

span:after {
    top: 20%;
    right: 17%;
    height: 75%;
    width: 75%;
    border-radius: 50%;
    box-shadow: 1px -2px 0px 0px  rgba(255,255,255, .9);
    cursor: pointer;
}

.popped:before {
    animation: pop-before .2s forwards;
}

.popped:after {
    animation: pop-after .2s forwards;
}

@keyframes pop-before {
    50% { height: 100%; width: 100%; }
    100% { box-shadow: inset 0 0 6px rgba(0,0,0,.2); }
}

@keyframes pop-after {
    50% { box-shadow: 5px -5px 0px 0px  rgba(255,255,255, .9); }
    100% { opacity: 0; }
}

.background, .slider {
    position: absolute;
    top: 0;
    display: none;
}

.background {
    height: 100%;
}

.background.is-visible {
    display: block;
}

.slider {
    width: 100%;
}

.slider.is-visible {
    display: block;
    animation: slideDown 5s ease-in forwards;
}

@keyframes slideDown {
    to { transform: translateY(100vw); }
}

button {
    padding: .25rem 2rem;
    margin-top: 1rem;
    background: gold;
    color: rebeccapurple;
    border: 2px solid rebeccapurple;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    animation: flashing .3s infinite;
}

@keyframes flashing {
    50% { color: gold; background: rebeccapurple; border: 2px solid gold; }
}

/* LINE INDENTATION  */
.indent-1 {
    padding-left: calc(8 * var(--size));
}

.indent-2 {
    padding-left: calc(6 * var(--size));
}

.indent-3 {
    padding-left: calc(4 * var(--size));
}

.indent-4 {
    padding-left: calc(3 * var(--size));
}

.indent-5 {
    padding-left: calc(5 * var(--size));
}

.indent-6 {
    padding-left: calc(2 * var(--size))
}

/* COLORS */
.lightergrey.popped {
    background-color:#E2E2E2;
}

.lightgrey.popped {
    background-color:#A7A8A3;
}

.grey.popped {
    background-color:#8C8D88;
}

.white.popped  {
    background-color: #FFFFFF;
}

.coldgrey.popped {
    background-color: #737377;
}

.lightblack.popped {
    background-color: #181C1B;
}

.black.popped {
    background-color: #040404;
}

.brown.popped {
    background-color: #391D16;
}

.eyebrown.popped  {
    background-color: #522110;
}

.greengrey.popped {
    background-color: #535642;
}

.winkbrown.popped {
    background-color: #6E3A1B;
}

.temple.popped  {
    background-color: #AA5427;
}

.cheek.popped {
    background-color: #C15A18;
}

.hairline.popped {
    background-color: #E2702E;
}

.red.popped {
    background-color: #701E11;
}

.taupe.popped {
    background-color: #8D7153;
}

.mustard.popped {
    background-color: #C98033;
}

.forehead.popped  {
    background-color: #E38D54;
}

.nosebridge.popped {
    background-color: #C17231;
}

.steelgrey.popped {
    background-color: #35383F;
}

.pink.popped {
    background-color: #EC9E6D;
}

.sand.popped {
  background-color: #AC6B36;
}

.brow.popped {
    background-color: #BF8A68;
}

.softwink.popped {
    background-color: #905539;
}

.eartop.popped {
    background-color: #E4C3A9;
}

.jaw.popped {
    background-color: #91481B;
}

.ear.popped {
    background-color: #C28C67;
}

.bright.popped {
    background-color: #FDF7E2;
}

.neck.popped {
    background-color: #C4AB91;
}

.wine.popped {
    background-color: #AD5443;
}

.corner.popped {
    background-color: #535548;
}

.tooth.popped {
    background-color: #DFC7AD;
}
